h1 {
    color: green;
    display: flex;
    justify-content: center;
    font-size: 75px;
}

h2 {
    color: orange;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

table {
    width: 100%;
    table-layout: fixed;
    display: flex;
    justify-content: center;
}

th, td {
    padding: 10px;
}

td {
    color: #392467;
}

.code {
    font-family: monospace;
}

.table-title {
    background-color: #392467;
    color: whitesmoke;
}

.table-content {
    background-color: #FFD1E3;
}

.code-tag {
    display: inline;
    background-color: #392467;
    color: aliceblue;
}

mark {
    background-color: #176B87;
    color: aliceblue;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.social-links a:hover {
    color: #0077b5;
}

.social-links a:focus {
    box-shadow: 0 0 0 3px #8659e9;
}