:root {
    --ot-green: #58B475;
    --tnt-tx-color: #39364B;
    --tnt-bg-color: #E7E7E7;
    --wr-tx-color: #DCF2EF;
    --wr-bg-color: #567B74;
}

/*--- NAVEGATION BAR ---*/

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: kari-display-pro, sans-serif;
}

.navbar a:hover {
    color: var(--ot-green);
}

.navbar li {
    float: left;
}

.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

h1 {
    color: green;
    display: flex;
    justify-content: center;
    font-size: 75px;
}

h2 {
    color: orange;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

table {
    width: 100%;
    table-layout: fixed;
    display: flex;
    justify-content: center;
}

th, td {
    padding: 10px;
}

td {
    color: #392467;
}

.code {
    font-family: monospace;
}

.table-title {
    background-color: #392467;
    color: whitesmoke;
}

.table-content {
    background-color: #FFD1E3;
}

.code-tag {
    display: inline;
    background-color: #392467;
    color: aliceblue;
}

mark {
    background-color: #176B87;
    color: aliceblue;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.social-links a:hover {
    color: #0077b5;
}

.social-links a:focus {
    box-shadow: 0 0 0 3px #8659e9;
}